<div class="navlist">
    <a class="button" href="javascript:;"><span>Overview</span><span class="close"></span></a>
    <a class="button" href="javascript:;" ><span>Analysis Type</span><span
            class="open"></span></a>

    <div class="navlist">


        <a ng-click="Analysis.toBasicAnalysis()" class="button sub lefttree" href="javascript:;" ><span>Basic Chart</span> </a>
        <a ng-click="Analysis.toReoresentaticeArticles()" class="button sub lefttree" href="javascript:;" ><span>Representative Articles</span> </a>
        <a ng-click="Analysis.toCustomerAnalysis()" class="button sub lefttree" href="javascript:;" ><span>User Classification</span> </a>




    </div>
    <a class="button" href="javascript:;"><span>Topics</span><span class="open"></span></a>

    <div class="navlist">


        <a ng-click="topicSelected(topic)" class="button sub lefttree" href="javascript:;" ng-repeat="topic in Topics">
            <span>{{topic.Name}}</span>

        </a>


        <div class="search">
            <div class="group last" style="text-align:right;">
                <button class="btn btn-primary " data-toggle="modal" data-target="#selectReportChart"> Add New
                    Chart
                </button>
            </div>

        </div>


    </div>

</div>