<div class="chartpanel chartpanelsize1">
    <div class="title icon1"><span class="titlelabel">Micro Blog Customer Classification with Sentiment</span>

    </div>
    <div class="tab-content"  style="height: 300px;width: 450px;overflow: hidden;">
        <div id="UC_blog" class="content">
            <div class="row"><img src="/images/screenshots/weibo_customer_classification_with_sentiment.png"></div>
        </div>
    </div>
</div>

<div class="chartpanel chartpanelsize1">
    <div class="title icon1"><span class="titlelabel">Micro Blog User Type Classification with Senitiment</span>

    </div>
    <div class="tab-content"  style="height: 300px;width: 450px;overflow: hidden;">
        <div id="UC_forum" class="content">
            <div class="row"><img src="/images/screenshots/weibo_user_type_classification_with_sentiment.png"></div>
        </div>
    </div>
</div>

<div class="chartpanel chartpanelsize1">
    <div class="title icon2"><span class="titlelabel">User Classification for Micro Blog</span>

    </div>
    <div class="tab-content"  style="height: 300px;width: 450px;overflow: hidden;">
        <div id="UC_blog" class="content">
            <div class="row"><img src="/images/screenshots/user_classification_weibo.png"></div>
        </div>
    </div>
</div>

<div class="chartpanel chartpanelsize1">
    <div class="title icon2"><span class="titlelabel">User Classification for Forums</span>

    </div>
    <div class="tab-content"  style="height: 300px;width: 450px;overflow: hidden;">
        <div id="UC_forum" class="content">
            <div class="row"><img src="/images/screenshots/user_classification_forums.png"></div>
        </div>
    </div>
</div>

<div class="chartpanel chartpanelsize1">
    <div class="title icon1"><span class="titlelabel">Forums User Classification from Forums</span>

    </div>
    <div class="tab-content"  style="height: 300px;width: 450px;overflow: hidden;">
        <div id="UC_blog" class="content">
            <div class="row"><img src="/images/screenshots/forums_user_classification_for_forums.png"></div>
        </div>
    </div>
</div>

<div class="chartpanel chartpanelsize1">
        <div class="title icon1"><span class="titlelabel">Forums Consumer Classification</span>

    </div>
    <div class="tab-content"  style="height: 300px;width: 450px;overflow: hidden;">
        <div id="UC_forum" class="content">
            <div class="row"><img src="/images/screenshots/forums_customer_classification.png"></div>
        </div>
    </div>
</div>