<div class="chartpanel2">
    <div class="title icon1"><span class="titlelabel">Date Source Bar</span><span class="action"><a class="min"
                                                                                                    href="#"></a><a
            class="close" href="#"></a></span></div>
    <div class="content">
        <div id='canvasDiv7'></div>
    </div>
</div>
<div class="chartpanel2 ">
    <div class="title icon1"><span class="titlelabel">Top Keyword</span><span class="action"><a class="min"
                                                                                                href="#"></a><a
            class="close" href="#"></a></span></div>
    <div class="content">
        <div id='canvasDiv8'></div>
    </div>
</div>
<div class="chartpanel2">
    <div class="title icon1"><span class="titlelabel">Sentiment Analysis </span><span class="action"><a class="min"
                                                                                                        href="#"></a><a
            class="close" href="#"></a></span></div>
    <div class="content">
        <div id='canvasDiv9'></div>
    </div>
</div>
<div class="chartpanel2">
    <div class="title icon3"><span class="titlelabel">Sentiment Analysis Timeline</span><span class="action"><a
            class="min" href="#"></a><a class="close" href="#"></a></span></div>
    <div class="content">
        <div id='canvasDiv10'></div>
    </div>
</div>
<div class="chartpanel2">
    <div class="title icon2"><span class="titlelabel">Date Source Pie</span><span class="action"><a class="min"
                                                                                                    href="#"></a><a
            class="close" href="#"></a></span></div>
    <div class="content">
        <div id='canvasDiv11'></div>
    </div>
</div>