<div class="panel">


    <table id="css_table" class="table">
        <thead>
        <tr>
            <td class="w30">No.</td>
            <td class="w150">Title</td>
            <td class="w100">Keywords</td>
            <td class="w200">MailTo</td>
            <td class="w100">SMSTo</td>
            <td class="w150">DataRange</td>
            <td class="last">Action</td>
        </tr>
        </thead>
        <tbody ng-repeat="alert in alerts" showdetail>
        <tr>
            <td class=" openlist" data-id="{{alert._id}}" data-queryover="0"  toggletable  >{{ $index+1 }} </td>
            <td class=" w150">{{alert.Name }}</td>
            <td class=" w100">{{alert.Keyword }}</td>
            <td class=" w200">{{alert.MailTo }}</td>
            <td class=" w100">{{alert.SMSTo }} </td>
            <td class=" w150">{{alert.AlertStartTime |date }}-{{alert.AlertEndTime |date }}</td>
            <td class="last"> <button class="btn btn-primary" data-toggle="modal" ng-click="editAlert(alert)"
                                      data-target="#saveReportModal">Edit</button></td>
        </tr>
        <tr class="subrow">
            <td colspan="7" class="subrowtd">
                <table class="subtable">
                    <tr class="thead">
                        <td class="w30">N0.</td>
                        <td sortable>Title</td>
                        <td>Description</td>
                        <td>Source</td>
                        <td>Url</td>
                    </tr>
                    <tr class="tbody" ng-repeat="feed in feedContent" showdetail data-toggle="modal" ng-click="showDetail(feed)" data-target="#myModal">
                        <td>{{ $index+1 }}</td>
                        <td>{{feed.Title| maxlen:20  }} </td>
                        <td>{{feed.Content | maxlen:40  }} </td>
                        <td>{{ feed.FromSite | maxlen:40}}</td>
                        <td><a ng-href="feed.FromUrl">{{feed.FromUrl}}</a></td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
<!--
    <table id="reportsTable" class="table">
        <thead>
        <tr>

            <th>No.</th>
            <th sortable>Title</th>
            <th>Keywords</th>
            <th>MailTo</th>
            <th>SMSTo</th>
            <th>DataRange</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="alert in alerts" ng-click="showDetail(alert)" showdetail>

            <td>{{ $index+1 }}</td>
            <td>{{alert.Name }}</td>
            <td>{{alert.Keyword }}</td>
            <td>{{alert.MailTo }}</td>
            <td>{{alert.SMSTo }} </td>
            <td>{{alert.AlertStartTime |date }}-{{alert.AlertEndTime |date }}</td>
            <td> <button class="btn btn-primary" >Edit</button></td>


        </tr>

        </tbody>
    </table>-->
</div>
<div style="display: none" class="modal fade" id="saveReportModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{editWindowTitle}}</h4>
            </div>
            <div class="modal-body">
                <form  name="alertForm">
                    <div class="editpanel">

                        <!--<div class="content">
                            <div class="left"><span class="title">报告类型</span></div>
                            <div class="center">

                           <span class="item" ng-repeat="dt in report.dataType">
                                   <label><input type="radio" name="dataType" ng-value="dt.value" ng-model="report.type">{{dt.value}}</label>
                             </span>
                            </div>
                            <div class="right"></div>
                        </div>-->
                        <div class="content">
                            <div class="left"><span class="title">Name:</span></div>
                            <div class="center">
                                <input type="text" ng-model="alert.name" required /> <!--<label><input
                                    type="checkbox"  />使用正则</label>-->
                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="content">
                            <div class="left"><span class="title">KeyWords:</span></div>
                            <div class="center">
                                <input type="text" ng-model="alert.keywords" required /> <!--<label><input
                                    type="checkbox"  />使用正则</label>-->
                            </div>
                            <div class="right"></div>
                        </div>

                        <div class="content">
                            <div class="left"><span class="title">Mail To:</span></div>
                            <div class="center">
                                <textarea ng-model="alert.maito" required>abc@pactera.com</textarea>
                            </div>
                            <div class="right"></div>
                        </div>

                        <div class="content">
                            <div class="left"><span class="title">SMS To:</span></div>
                            <div class="center">
                                <textarea ng-model="alert.smsto" required>13848866666</textarea>
                            </div>
                            <div class="right"></div>
                        </div>

                        <div class="content">
                            <div class="left"><span class="title">Topic</span></div>
                            <div class="center">
                            <span class="item"  ng-repeat="topic in Topics">
                              <label> <input   class="checkbox" type="checkbox" name="sourceType" ng-checked="topic.checked"
                                         ng-model="topic.checked" value="{{topic.type}}"/>{{topic.type}}</label>
                            </span>

                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="content">
                            <div class="left"><span class="title">Semantic</span></div>
                            <div class="center">
                                 <span class="item"  > <label> <input   class="checkbox" type="checkbox" name="semantic"  value="1"/>Good</label></span>
                                     <span class="item"  > <label> <input   class="checkbox" type="checkbox" name="semantic"  value="-1"/>Bad</label>    </span>


                            </div>
                            <div class="right"></div>
                        </div>
                        <div class="content">
                            <div class="left"><span class="title">Time Range </span></div>
                            <div class="center">
                                <input bs-datepicker type="text" ng-model="alert.startTime" name="startTime">
                                                                     to
                                <input bs-datepicker type="text" ng-model="alert.endTime">

                            </div>
                            <div class="right"></div>
                        </div>


                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div ng-show="!!saveTopicWarning" class="alert alert-success"> {{ saveTopicWarning }}</div>
                <div ng-show="!!saveTopicError" class="alert alert-error"> {{ saveTopicError }}</div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" ng-disabled='alertForm.$invalid' ng-click="addAlert()">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>