
<div class="panel">
        <span class="item">
            <select class="inputdate" ng-model="dataRange">
                <option value="7" selected="selected">Last 7 Days</option>
                <option value="30">Last month</option>
            </select>
          <!--  {{searchDate.starttime}}-->
        </span>
    <span class="item">Or from </span>
    <span class="item"><input bs-datepicker ng-model="dashboard.startDate" class="inputdate" type="text"></span>
    <span class="item">to</span>
    <span class="item"><input bs-datepicker ng-model="dashboard.endDate" class="inputdate" type="text"></span>
    <span class="item"><button class="btn btn-primary" ng-click="search()">Search</button></span>

</div>

<div class="chartpanel chartpanelsize3">
    <div class="title icon3"><span class="titlelabel">Sentiment Analysis Timeline</span><span class="action"><a class="min"
                                                                                                                href="#"></a><a
            class="close" href="#"></a></span></div>
    <div class="content">
        <span class="loading"></span>

        <div id='canvasDiv4'></div>
    </div>
</div>

<div class="chartpanel chartpanelsize1">
    <div class="title icon1"><span class="titlelabel">Data Source Bar Dynamic</span><span class="action"><a class="min"
                                                                                                      href="#"></a><a
            class="close" href="#"></a></span></div>
    <div class="content">
        <span class="loading"></span>
        <div id='canvasDiv7'  ></div>
    </div>
</div>





<div class="chartpanel chartpanelsize1">
    <div class="title icon1"><span class="titlelabel">Sentiment Analysis  </span><span class="action"><a class="min"
                                                                                                   href="#"></a><a
            class="close" href="#"></a></span></div>
    <div class="content">
        <span class="loading"></span>

        <div id='canvasDiv3'></div>
    </div>
</div>



<div class="chartpanel chartpanelsize1">
    <div class="title icon1"><span class="titlelabel">Top Keyword</span><span class="action"><a class="min" href="#"></a><a
            class="close" href="#"></a></span></div>
    <div class="content">
        <span class="loading"></span>

        <div id='canvasDiv2'></div>
    </div>
</div>

<div class="chartpanel chartpanelsize1">
    <div class="title icon4"><span class="titlelabel">Keyword Cloud</span><span class="action"><a class="min" href="#"></a><a
            class="close" href="#"></a></span></div>
    <div class="content">

        <iframe ng-src="{{tagcloud}}" border=0 width="100%"     frameborder=no scrolling="no" height=100% ></iframe>
    </div>
</div>




<div class="chartpanel chartpanelsize1">
    <div class="title icon5"><span class="titlelabel">Representative Articles</span>
        <a class="tab"  href="#RA_news" data-toggle="tab">News</a>
        <a class="tab"  href="#RA_weibo" data-toggle="tab">Blog</a>
        <a class="tab"  href="#RA_forum" data-toggle="tab">Forum</a>
    </div>
    <div class="tab-content"  style="height: 300px;
width: 450px;">
    <div id="RA_news" class="content tab-pane fade active in">
        <div class="row"><a class="text" target="blank" href="http://www.kankanews.com/IClux/1353641549/2013-09-14/2725339.shtml"><span class="logo kankanews"></span>兰蔻心理测试:如何透过眼线判断出你今天的心情</a></div>
        <div class="row"><a class="text" target="blank" href="http://www.yoka.com/brand/news/2013/0613816034.shtml"><span class="logo yoka"></span>兰蔻SHOW限量彩妆系列by Alber</a></div>
        <div class="row"><a class="text" target="blank" href="http://women.sohu.com/20080928/n259804438.shtml"><span class="logo sohu"></span>献礼中国女性 兰蔻立体塑颜系列全新上市</a></div>
        <div class="row"><a class="text" target="blank" href="http://news.youth.cn/caij/201303/t20130320_2999872.htm"><span class="logo reunion"></span>聚美优品陷假货风波 被曝化妆品出自山寨专业地</a></div>
        <div class="row"><a class="text" target="blank" href="http://www.efu.com.cn/data/2013/2013-09-03/550581.shtml"><span class="logo efu"></span>温柔换季 从洁面开始</a></div>
        <div class="row"><a class="text" target="blank" href="http://eladies.sina.com.cn/beauty/p/2011/0727/13021082067.shtml"><span class="logo sina"></span>兰蔻珍爱爱恋香水 8月倾情上市(组图)</a></div>
        <div class="row"><a class="text" target="blank" href="http://tech.hexun.com/2013-07-08/155911279.html"><span class="logo hexun"></span>酵素在中国日渐火爆 李逵李鬼难分真</a></div>
        <div class="row"><a class="text" target="blank" href="http://info.leather.hc360.com/2013/06/070850310761.shtml"><span class="logo hc360"></span>2013年奢侈品在华销售仍困难重重</a></div>
        <div class="row"><a class="text" target="blank" href="http://news.hexun.com/2013-09-13/157997091.html"><span class="logo hexun"></span>了不起的复古风</a></div>
        <div class="row"><a class="text" target="blank" href="http://www.askci.com/news/201309/13/13933381841.shtml"><span class="logo askci"></span>2013第一季度中国招商加盟领域数据研究报告</a></div>
    </div>
    <div id="RA_forum" class="content tab-pane fade  ">
        <div class="row"><a class="text" target="blank" href="http://comment.kimiss.com/2393327/"><span class="logo kimiss"></span>文章内容：吸收相当快，一直在棕瓶黑瓶之间犹豫，败了小黑瓶，用后感觉吸收很快，是真的还没有涂匀就已经吸收完了，效果的话还没有</a></div>
        <div class="row"><a class="text" target="blank" href="http://comment.kimiss.com/3026901/"><span class="logo kimiss"></span>文章内容：一款高保湿的产啊，有效缓解肌肤缺水干燥，各种肌肤都使用啊，温和不刺激，紧致肌肤，锁水效果不错啊。</a></div>
        <div class="row"><a class="text" target="blank" href="http://comment.kimiss.com/3010349/"><span class="logo kimiss"></span>文章内容：用的是中样。质感是水润的霜状，不厚重不油腻，但保湿效果很好。玫瑰清香，用的时候心情很愉悦。</a></div>
        <div class="row"><a class="text" target="blank" href="http://comment.kimiss.com/2474851/"><span class="logo kimiss"></span>文章内容：很稠的水，冬天很好用，如果拍3次的话，第三次会不吸收，所以一般用这款水之后拍两次。保湿水里算出色的了，只是性价比不</a></div>
        <div class="row"><a class="text" target="blank" href="http://comment.kimiss.com/2989537/"><span class="logo kimiss"></span>文章内容：我一次用三到四滴,皮肤变的保湿 有弹性 没有雅诗兰黛家的特润那么黏腻,用完上妆也比较贴合呢,自从用了小黑瓶脸没有干过.</a></div>
        <div class="row"><a class="text" target="blank" href="http://comment.kimiss.com/2655963/"><span class="logo kimiss"></span>文章内容：用过一个15毫升的中样，保湿不错，吸收度很好，不油，但是具体神奇效果倒是没看出来</a></div>
        <div class="row"><a class="text" target="blank" href="http://comment.kimiss.com/2515539/"><span class="logo kimiss"></span>文章内容：我对香水只是第一感觉，这款香水瓶子很简洁，适合初入职场的女性，但是就是有点太普通了，满大街都是。</a></div>
    </div>
    <div id="RA_weibo" class="content tab-pane fade  ">
        <div class="row"><a class="text" target="blank" href="http://www.weibo.com"><span class="logo sina"></span>#兰蔻SHOW限量版睫毛膏#，一个月前订购的，刚刚到手，限量款能抢到不容易哇。天才设计师与法国@兰蔻LANCOME 首次碰撞出的“大明星”睫毛膏，在星星和玫瑰的包装下，简直潮爆了。刷头是双面的，可打造巨星般根根卷翘的美睫，真心爱不释手呀@精品达人俱乐部</a></div>
        <div class="row"><a class="text" target="blank" href="http://www.weibo.com"><span class="logo sina"></span>#COSMO美容大奖微博评鉴团#不用说，Lanc?me 精华肌底液（780元/30ml）绝对是“抗老精华＂，不仅质地细腻柔滑，而且是渗透到肌肤底的修护，一直都是Lanc?me 兰蔻精华肌底液搭配小黑眼部精华液一起试用，效果真的很棒@健步林中 @学雷的兔子 @梁钰恒 @手机用户3019766345 @林下清风至</a></div>
        <div class="row"><a class="text" target="blank" href="http://www.weibo.com"><span class="logo sina"></span>##香港代购#秋天到啦，给你的皮肤喝点精华吧，台湾买到的，兰蔻小黑瓶50ML现货#兰蔻#</a></div>
        <div class="row"><a class="text" target="blank" href="http://www.weibo.com"><span class="logo sina"></span>#美够美够#Lancome 兰蔻蜜妍滋养润肤身体乳 专门为干性肌肤设计 运用独家蜂王浆Royal Lipideum科技 帮助肌肤重回滋养水润状态保护肌肤不受外界天气季节变换导致的侵害、轻盈滋养肌肤 国内没有的商品，美国专柜售价 580，现在有折扣的喔，其他明星产品小黑瓶，BB霜，粉水等依旧代购！</a></div>
        <div class="row"><a class="text" target="blank" href="http://www.weibo.com"><span class="logo sina"></span>小的今天开始做品牌代购，兰芝 its skin 雪花秀 后 skin food 雅诗兰黛 兰蔻 倩碧 安娜苏 香奈儿 迪奥 赫莲娜 爱丽小屋……都是韩国免税店代购的，朋友在韩国留学四年 根底扎实，绝对正品。小的只是学生赚点钱减少爸妈负担，童叟无欺。..谢谢支持 哈哈 需要的可以加微信 wenjunran</a></div>
        <div class="row"><a class="text" target="blank" href="http://www.weibo.com"><span class="logo sina"></span>【10款热销香水排名】一、香奈儿5号香水；二、Dior花漾甜心香水 三、Dior真我香水；四、雅顿绿茶香水 ；五、香奈儿机遇香；六、CK-one中性香水；七、香奈儿COCO小姐香水；八、安娜苏许愿精灵香水；九、兰蔻魔法奇迹香水；十、兰蔻璀璨红情香水。</a></div>
        <div class="row"><a class="text" target="blank" href="http://www.weibo.com"><span class="logo sina"></span>泰国那个机场免税店 化妆品超级少。。。。 就是雅诗兰黛 兰蔻 倩碧 还有个韩国什么孩子 最多的居然是欧莱雅。。。。</a></div>
        <div class="row"><a class="text" target="blank" href="http://www.weibo.com"><span class="logo sina"></span>这批将会从美国洛杉矶带回。接受预定。契尔氏黄瓜水牛油果眼霜倩碧水磁场 雅诗兰黛 兰蔻粉水 最亮点的是倩碧天才黄油 现在美国已经没有卖旧版黄油咯～现在有很多亲都是认品牌用的国内有贵的离谱 现在小购来实现你的大牌梦吧～</a></div>
        <div class="row"><a class="text" target="blank" href="http://www.weibo.com"><span class="logo sina"></span>@兰蔻LANCOME:凤店长再次驾到！大家来猜猜，凤店长的照片里都出现了哪些兰蔻产品？提示：1.有留驻年华的经典系列；2.有极致奢华的面霜；3.有万人见证的高科技精华。想让@凤小岳 店长出现在你的城市吗？那就在此微博后大声呼唤凤店长，让他看到你们的热情吧！@凤小岳内地影迷会 @小时代</a></div>
        <div class="row"><a class="text" target="blank" href="http://www.weibo.com"><span class="logo sina"></span>#毛毛播报电影新闻#――一句话新闻 http://t.cn/zjV8Pp1 （分享自@兰蔻Lancome）</a></div>
    </div>
    </div>
</div>

<div class="chartpanel chartpanelsize1">
    <div class="title icon2"><span class="titlelabel">User Classification</span>
        <a class="tab"  href="#UC_forum" data-toggle="tab">Forum</a>
        <a class="tab"  href="#UC_blog" data-toggle="tab">Blog</a>

    </div>
    <div class="tab-content"  style="height: 300px;width: 450px;overflow: hidden;">
        <div id="UC_blog" class="content tab-pane fade active in">
            <div class="row"><img src="/images/screenshots/user_classification_weibo.png"></div>
        </div>
        <div id="UC_forum" class="content tab-pane fade  ">
            <div class="row"><img src="/images/screenshots/user_classification_forums.png"></div>
        </div>
    </div>
</div>



<!--<div class="chartpanel chartpanelsize1">-->
<!--<div class="title icon2"><span class="titlelabel">Data Source Pie</span><span class="action"><a class="min"-->
<!--href="#"></a><a-->
<!--class="close" href="#"></a></span></div>-->
<!--<div class="content">-->
<!--<span class="loading"></span>-->

<!--<div id='canvasDiv5'></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="chartpanel chartpanelsize1">-->
<!--<div class="title icon1"><span class="titlelabel">Data Source Bar</span><span class="action"><a class="min"-->
<!--href="#"></a><a-->
<!--class="close" href="#"></a></span></div>-->
<!--<div class="content">-->
<!--<span class="loading"></span>-->

<!--<div id='canvasDiv1' ></div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="chartpanel">
    <div class="title"><span class="titlelabel">Cloud Report</span><span class="action"><a class="min" href="#"></a><a
            class="close" href="#"></a></span></div>
    <div class="content">

        <canvas id='canvasDiv6' width=450 height=300></canvas>
    </div>
</div>-->