
<div class="panel">
    <form novalidate  name="searchFeedForm" >
    <div class="conditionspanel">
        <div class="title"><span class="titlelabel">Feeds List:{{source.keywordExpression}} </span></div>
        <div class="content">
            <div class="cell size1">Keyword:</div>
            <div class="cell size5">
                <input type="text" ng-model="keyword" ><span class="glyphicon glyphicon-info-sign"></span>
            </div>

        </div>
        <div class="content">
             <div class="cell size1">Source Type:</div>
             <div class="cell size5">

                <span class="item" ng-repeat="st in sourcetype">
                   <label><input  class="checkbox" uniform  type="checkbox" name="sourceType" ng-checked="st.checked"  ng-model="st.checked" value="{{st.type}}"/>{{st.type}}  </label>
                </span>

             </div>
        </div>

        <div class="content">
            <div class="cell size1">Date Range:</div>
            <div class="cell size5">

                <select>
                    <option>Last 7 Days</option>
                    <option>Last month</option>
                </select>


                TimeFrame: <span>
                from
               <!-- <input data-date-format="dd/mm/yyyy" bs-datepicker type="text"  ng-model="feeds.startTime" name="startTime"   required="">-->

                    <input   bs-datepicker type="text"  ng-model="feeds.startTime" name="startTime"   required="">

                to
                <input    bs-datepicker type="text" ng-model="feeds.endTime" > </span>
                <div ng-show="searchFeedForm.$invalid" class="alert alert-warning"> {{ warning }}</div>

            </div>
        </div>

        <div class="content">
            <div class="cell size1"></div>
            <div class="cell size5">

                <button class="btn btn-primary" ng-disabled='searchFeedForm.$invalid' ng-click='searchFeed()'>Search</button>
                    <button title="Topic Not null" class="btn btn-primary" data-toggle="modal" ng-click="" data-target="#saveTopicModal"
                            ng-disabled='searchFeedForm.$invalid||!!!keyword'>Save Current Set
                    </button>
                <button class="btn btn-primary" ng-disabled="feedContent.length==0" ng-click="exportExcel('feedTable','feeds')" type="button">Export Feed</button>

            </div>
        </div>

    </div>
    </form>
</div>

<div class="panel">
    <!--  <table  >
          <tr ng-repeat="k in kimiss" ng-click="selectkimiss($index)" ng-class="{selected: $index==selectedRow}">
              <td>{{k.childs| kimissList:'Title'|highlightWords:query}}</td>

          </tr>
      </table>-->

    <table id="feedTable" class="table">
        <thead>
        <tr>
            <th>N0.</th>
            <th sortable>Title</th>
            <th>Description</th>
            <th>Source</th>
            <th>Author</th>
            <th>Url</th>

        </tr>
        </thead>
        <tbody>
        <tr  ng-repeat="feed in feedContent"  showdetail data-toggle="modal" ng-click="showDetail(feed)" data-target="#myModal">
            <td>{{ $index+1 }}</td>
            <td>{{feed.Title| maxlen:20  }} </td>
            <td>{{feed.Content | maxlen:40  }} </td>
            <td>{{ feed.FromSite | maxlen:40}}</td>
            <td>{{ feed.Author | maxlen:40}}</td>
            <td class="last"><a ng-href="feed.FromUrl" >{{feed.FromUrl | maxlen:40}}</a></td>

        </tr>

        </tbody>
    </table>
    <ul class="pagination">
        <li><a href="javascript:;">&laquo;</a></li>
        <li  ng-class="{active : $index==feeds.pageIndex-1}" ng-repeat="n in [] | PagerRange:pages"><a href="javascript:;" ng-click="PagerData(n+1)"  >{{n+1}}</a></li>

        <li><a href="javascript:;">&raquo;</a></li>
    </ul>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{modal.title  }}</h4>
            </div>
            <div class="modal-body">
                <div>{{modal.title  }}</div><br>来源:{{modal.source}} |  发布时间:{{modal.publishtime}} | 发布者:{{modal.author}}  <br><br>
                <div>{{modal.content  }}</div>                <br>
                <div><a  href="{{modal.url}}" target="_blank">{{modal.url  }}</a> </div>   <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="saveTopicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Are your sure save the topic?</h4>
            </div>
            <div class="modal-body">

                <!--  Topic Name: <input type="text" ng-model="topicName" required="不能为空">
 -->            Topic Name: <input type="text" ng-model="topicName" >
                <div ng-show="!!saveTopicWarning" class="alert alert-success"> {{ saveTopicWarning }}</div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-disabled="!!!topicName" class="btn btn-primary" ng-click="saveTopic()">Save
                    Topic
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->

 </div>